 *{
    margin: 0;
    padding: 0;
} 


/*NAVBAR SECTION*/

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
    
}

nav ul{
    width:  100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background: rgba(211, 211, 211, 0.734);
}

nav li:first-child{
    margin-right: auto;
    a{
        background-color: transparent;
    }
}

.sidebar{
    position:absolute;
    top: 1px;
    right: 0px;
    width: 250px;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.163);
    backdrop-filter: blur(15px);
    box-shadow: 10 0 10 rgba(0, 0, 0, 0.1);
    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}

@media (min-width: 800px){
    .showOnMobile{
        display: none;
    }
}
    
@media(max-width: 400px){
    .sidebar{
        width: 80%;
    }
}





#caption{
    color: darkslateblue;
}

#caption1{
    color: #212529;
}

#caption2{
    color: #0d6efd;
}

/*color:*/

