#mp4 files
.mp4
.txt

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.local
.env.*.local

# Build directories
dist/
build/
out/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
*.bak

# Coverage directory used by testing tools
coverage/
