
#custom-alert-overlay {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.643);
    z-index: 9999;
  }
  
  #custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: RGB(0, 184, 222); */
    background-image: conic-gradient(rgba(0, 184, 222),  rgba(0, 46, 110), rgba(0, 184, 222));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px RGB(0, 46, 110);
  }

  
  #custom-alert-content {
    text-align: center;
  }
  
  #custom-alert-title {
    margin-top: 0;
    color: black;
    font-size: xx-large;
  }
  
  #custom-alert-message {
    margin-top: 10px;
    font-size:x-large;
    color: whitesmoke;
  }
  
  #custom-alert button {
    margin-top: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    cursor: pointer ;
    font-size: large;
    width: 140px;
  }

  #custom-alert button:hover{
    background-color: rgba(0, 0, 0, 0.54);
  }
  