
#custom-alert-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.643);
    z-index: 9999;
  }
  
  #custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(64, 200, 227);
    padding: 20px;
    border-radius: 10px;
  }

  
  #custom-alert-content {
    text-align: center;
  }
  
  #custom-alert-title {
    margin-top: 0;
    color: black;
    font-size: xx-large;
  }
  
  #custom-alert-message {
    margin-top: 10px;
    font-size:x-large;
    color: whitesmoke;
  }
  
  #custom-alert button {
    margin-top: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    cursor: pointer ;
    font-size: large;
    width: 140px;
  }

  #custom-alert button:hover{
    background-color: rgba(0, 0, 0, 0.54);
  }
  